<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Competition Page List</title>


    <style>


        /* Custom CSS for competition tiles */
        .competition-tile {
            margin-bottom: 10px;
            border: none;
            border-radius: 20px;
            padding: 10px;
            background-color: #f8f9fa;
        }

        .form-field {
            display: flex;
            flex-direction: column;
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 10px;
        }


        .button {
            width: 175px;
            background-color: #000000;
            border: none;
            color: white;
            padding: 15px 20px;
            text-decoration: none;
            display: block;
            font-size: 16px;
            font-family: Arial;
            cursor: pointer;
            border-radius: 20px; /* added property */
        }

        .button-container {
            display: flex;
            gap: 10px; /* Adjust the gap between buttons as needed */
        }

    </style>
</head>
<body>

    <div class="container">
        <img src="static\img\landing_header.png" alt="your image" align="right" />

        <h1 class="my-4">Competitions</h1>

        <p style="font-family: Arial, sans-serif;">Grow your SQL skills by competing in our exciting competitions</p>
        <div class="button-container">
            <button class="button" onclick="redirect()">Host a competition</button>
            <!--<button class="button" onclick="hostList()">My competitions</button> -->

        </div>
        <br />
        <br />

        <div>
            <input type="text" class="form-field" id="searchBox" style="width: 75%;" placeholder="Search competitions">
            <button class="button" onclick="search()">Search</button>
        </div>

        <div id="error-message" style="display: none; color: red;">
            No comptetitions with the given Title!
        </div>

        <br />
        <br />
        <br />
        <br />
        <!--<img src="static\img\download.png" alt="your image" align="left" width="20" height="15">

    <h4 class="my-4">Current Competitions</h4> -->

        <div>
            <img src="static\img\clock.png" alt="your image" align="left" width="30" height="30">
            <h4 id="competion_title"> Active Competitions</h4>
            <br />
        </div>

        <div class="row" id="competition-list">
            <!-- Card elements will be dynamically added here -->
        </div>
        <button class="button" onclick="reset()">Reset</button>

    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper-base.min.js" integrity="sha384-e7D5fgaZuV7Kj3h77/jBwrccJ8QjKiv0CvL0/AiABayRrvKj4d4zhTC4X9BtCpVt" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const accessToken = urlParams.get('access_token');
        console.log("here AT is " + accessToken);
        const userId = 1;
 //       function hostList() {
//
 //           fetch("/v1/user/"+1+"/hosted")
  //              .then(response => response.json())
 //               .then(data => {
 //                   // Iterate over each competition and add it to the list
 //                   //console.log(data);
 //                   document.getElementById('competition-list').innerHTML = "";
  //                  document.getElementById('competion_title').innerHTML = "My competions";
 //                   data.forEach(function (competition) {
  //                      var competitionItem = $('<div class="col-lg-4 col-md-6 mb-4">')
 //                           .addClass("list-group-item list-group-item-action competition-tile") // add the competition-tile class
 //                           .append($('<div class="card h-100">')
 //                               .append($('<div class="card-body">')
 //                                   .append($('<h4 class="card-title">')
 //                                       .text(competition.title))
 //                                   //.append($('<p class="card-text">')
 //                                   //    .text(competition.description))
 //                                   .append($('<a href="#" class="btn btn-primary">')
 //                                       .text('Leaderboard')
 //                                       .attr("data-id", competition.c_id))
 //                                   .append(function () {
 //                                       if (userId != competition.host_user_id) {
 //                                           return $('<a href="#" class="btn btn-primary ml-2">')
 //                                               .text('hello')
 //                                               .attr("data-id", competition.c_id)
 //                                               .attr("participant", 1);
 //                                       } else {
 //                                           return '';
 //                                       }
 //                                   })
 //                               )
 //                           );
 //                       $("#competition-list").append(competitionItem);
 //                   });
 //               })
 //               .catch(error => console.log("Error fetching competition data: ", error));

//        }

        function reset() {

            fetch("/v1/competitions")
                .then(response => response.json())
                .then(data => {
                    // Iterate over each competition and add it to the list
                    //console.log(data);
                    document.getElementById('competition-list').innerHTML = "";
                    document.getElementById('competion_title').innerHTML = "Active Competitions";
                    document.getElementById("searchBox").innerHTML="";
                    data.forEach(function (competition) {
                        var competitionItem = $('<div class="col-lg-4 col-md-6 mb-4">')
                            .addClass("list-group-item list-group-item-action competition-tile") // add the competition-tile class
                            .append($('<div class="card h-100">')
                                .append($('<div class="card-body">')
                                    .append($('<h4 class="card-title">')
                                        .text(competition.title))
                                    //.append($('<p class="card-text">')
                                    //    .text(competition.description))
                                    .append($('<a href="#" class="btn btn-primary">')
                                        .text('Leaderboard')
                                        .attr("data-id", competition.c_id))
                                    .append(function () {
                                        if (userId != competition.host_user_id) {
                                            return $('<a href="#" class="btn btn-primary ml-2">')
                                                .text('hello')
                                                .attr("data-id", competition.c_id)
                                                .attr("participant", 1);
                                        } else {
                                            return '';
                                        }
                                    })
                                )
                            );
                        $("#competition-list").append(competitionItem);
                    });
                })
                .catch(error => console.log("Error fetching competition data: ", error));

        }


        function search() {
            var searchTerm = document.getElementById("searchBox").value;
            console.log("Search term entered: " + searchTerm);


            if (searchTerm !== '') {
                fetch("/v1/competitions/" + searchTerm)
                    .then(response => {
                        if (!response.ok) {
                            var errorMessage = document.getElementById('error-message');
                            errorMessage.style.display = 'block';
                            throw new Error('API call failed');
                        }
                        // Process the response
                        return response.json();
                    })
                    .then(competition => {
                        document.getElementById("competition-list").innerHTML = '';
                        var competitionItem = $('<div class="col-lg-4 col-md-6 mb-4">')
                            .addClass("list-group-item list-group-item-action competition-tile") // add the competition-tile class
                            .append($('<div class="card h-100">')
                                .append($('<div class="card-body">')
                                    .append($('<h4 class="card-title">')
                                        .text(competition.title))
                                    //.append($('<p class="card-text">')
                                    //    .text(competition.description))
                                    .append($('<a href="#" class="btn btn-primary">')
                                        .text('Leaderboard')
                                        .attr("data-id", competition.c_id))
                                    .append(function () {
                                        if (userId != competition.host_user_id) {
                                            return $('<a href="#" class="btn btn-primary ml-2">')
                                                .text('hello')
                                                .attr("data-id", competition.c_id)
                                                .attr("participant", 1);
                                        } else {
                                            return '';
                                        }
                                    })
                                )
                            );
                        $("#competition-list").append(competitionItem);
                    })
                    .catch(error => console.log("Error fetching competition data: ", error));

            }
            // Do something with the search term, like send it to a server or search a database
        }

        function redirect() {
            window.location.href = "hostcompetition.html?access_token=" + accessToken;
        }

        $(document).ready(function () {
            // Make Fetch API call to fetch competition data
            fetch("/v1/competitions")
                .then(response => response.json())
                .then(data => {
                    // Iterate over each competition and add it to the list
                    //console.log(data);
                    data.forEach(function (competition) {
                        var competitionItem = $('<div class="col-lg-4 col-md-6 mb-4">')
                            .addClass("list-group-item list-group-item-action competition-tile") // add the competition-tile class
                            .append($('<div class="card h-100">')
                                .append($('<div class="card-body">')
                                    .append($('<h4 class="card-title">')
                                        .text(competition.title))
                                    //.append($('<p class="card-text">')
                                    //    .text(competition.description))
                                    .append($('<a href="#" class="btn btn-primary">')
                                        .text('Leaderboard')
                                        .attr("data-id", competition.c_id))
                                    .append(function () {
                                        if (userId != competition.host_user_id) {
                                            return $('<a href="#" class="btn btn-primary ml-2">')
                                                .text('Participate')
                                                .attr("data-id", competition.c_id)
                                                .attr("participant", 1);
                                        } else {
                                            return '';
                                        }
                                    })
                                )
                            );
                        $("#competition-list").append(competitionItem);
                    });
                })
                .catch(error => console.log("Error fetching competition data: ", error));



            $("#competition-list").on("click", ".btn", function () {
                // Get the id of the clicked competition
                var competitionId = $(this).attr("data-id");
                var participant = $(this).attr("participant");
                console.log("comp id " + competitionId);
                if (participant == 1) {
                    window.location.href = 'onecompetition.html?id=' + competitionId + '&access_token=' + accessToken;
                }
                else {
                    window.location.href = 'leaderboard.html?id=' + competitionId + '&access_token=' + accessToken;
                }

            });
        });
    </script>
</body>
</html>